<h1 mat-dialog-title>Grocery List </h1>
<div class="content-container" mat-dialog-content>
    <div class="cold-area">
        <h2>Cold</h2>
        <ul>
            <li *ngFor="let ing of cold">{{ing.name}} - {{ing.amount}} {{ing.unit}}</li>
        </ul>
    </div>
    <div class="dry-area">
        <h2>Dry</h2>
        <ul>
            <li *ngFor="let ing of dry">{{ing.name}} - {{ing.amount}} {{ing.unit}}</li>
        </ul>
    </div>
    <div class="frozen-area">
        <h2>Frozen</h2>
        <ul>
            <li *ngFor="let ing of frozen">{{ing.name}} - {{ing.amount}} {{ing.unit}}</li>
        </ul>
    </div>
    <div class="produce-area">
        <h2>Produce</h2>
        <ul>
            <li *ngFor="let ing of produce">{{ing.name}} - {{ing.amount}} {{ing.unit}}</li>
        </ul>
    </div>
</div>
<div mat-dialog-actions>
    <button mat-stroked-button color="primary" (click)="dialog.close()">Close</button>
</div>