.form-section{
    border: #c2185b solid 1px;
    margin:10px;
    .mat-form-field{
        margin:4px;
    }
}
button{
    margin:7px;
}
.removal-button{
    display: inline;
}
mat-form-field{
    margin:4px;
}
.textarea-field{
    width: 400px;
}