<div class="welcome-container">
  <h3>Welcome to Scrumptious!</h3>
  <p>
    Scrumptious was created to aid home cooking and minimize time inside grocery 
    stores during COVID-19 pandemic.
  </p>
  <p>All the scrumptious recipes listed are proven and we make regularly. The 
    grocery list builder is designed to sort the various ingredients by the region
    found in the store. This should help minimize back and forth movement in the
    store, thus limiting time spent and exposure to other shoppers.
  </p>
  <p>
    Thanks for taking a look and we hope you enjoy some of our favorite recipes!
  </p>
</div>
